<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color: black; color: white;">이것은 내가 만든 자료료료료료 뭘뭠루멀</h1>
    <div style="border: 2px solid black; padding: 20px 20px;">
        <ul>
            <li style="color:red;">이제</li>
            <li style="color:red;">하나</li>
            <li >하나</li>
            <li style="color:skyblue;">해보자</li>
            <li style="color:black;">ㅋㅋ</li>
            <li style="color:blue;">ㅇㅇ</li>
        </ul>
    </div>

    <form >
        <input type="text" value="이곳"><br>
        <input type="text" value="저곳"><br>
        <input type="text" value="입력"><br>
        <input type="text" value="해"><br>
        <input type="submit" value="click">
    </form>

<h2>오늘 배운거 써보기</h2>
<p>{{first}}, 아 이건 왜 되는거야</p>
<p>{{second}}, 된다?</p>
<p>{{third}},이해가 안되네</p>

</body>
</html>